extends grid

block title
	title foo

block content
	div.grid-row
		div.column-two-thirds
		h2 Job Applicants
		ul.list.list-bullet
			- foo = 0
			each applicant in applicants
				li
					a(href='/applicant/' + foo)= applicant.name
				- foo++

