extends grid

block title
	title foo

block content
	div.grid-row
		div.column-two-thirds
		h2 Job Applicants
		- plural = applicants.length == 1 ? 'applicant' : 'applicants'
		p.
			There are #{applicants.length} #{plural} for this position.
			Click on their name below to view them in further detail.
		ul.list.list-bullet
			- foo = 0
			each applicant in applicants
				li
					a(href='/applicant/' + foo)= applicant.name
				- foo++

